<h1>All Users</h1>

<% @users.each do |u| %>
  <h2><a href="/users/<%= u.id %>"><%= u.first_name %> <%= u.last_name %></a></h2>
<% end %>

<form action="/sessions/<%=session[:user_id]%>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Sign Out">
</form>